.single-todo {
    width: 100%;
    max-width: 620px;
    text-align: center;
    background-color: rgb(218, 196, 255);
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    transition: 0.3s ease-in-out;
}
.deleteSingleTodo {
    position: absolute;
    top: 10px;
    right: 10px;
}
.single-todo:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}