.single-todo {
    width: 100%;
    max-width: 350px;
    background-color: rgb(218, 196, 255);
    border-radius: 5px;
    position: relative;
    transition: 0.3s ease-in-out;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.single-todo:hover {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
}
p {
    margin-left: 10px;
    width: 100%;
    text-align: left;
}